.a404t{
  font-size:45px;
  text-align:center;
  margin-top:150px;
}
.searchbar{
  margin-left:550px;
  margin-top:30px;
}
.or{
  font-size:16px;
  color:#0066CC;
  position:relative;
  text-align:center;
}
.ds24{
  position:relative;
  color:#808080;
  font-size:12px;
  left:18%;
  width:1000px;
  bottom:15%;
  height:20px;
}
.footer3{
  background-color:#F5F5F5;
  height:520px;
}



@media only screen and (max-width: 600px) {
  .searchbar{
    margin:50px;
    margin-right:0px;
  }
  .footer3{
    display:none;
  }
  
}