/* CSS files add styling rules to your content */


body {
font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding:0;
}


.appleicon{
  position:relative;
  left:17.5%;
}

div {
position:relative;
}
#nav {
position:absolute;
left:50.5%;top:-8%;
margin-left:-500px; /* negative margin equal to half the width */
list-style:none;
}
#nav li {
float:left;
}
#nav a {
display:block;
text-align:center;
width:110px; /* fixed width */
text-decoration:none; 
color:#DCDCDC;
font-size:13px;
font-family: 'Open Sans', sans-serif;

}

.searchicon{
  position:absolute;
  left:74%;top:28%;
}
.bagicon{
  position:absolute;
  left:80%;
}

.navbar{  
  height:44px;
  background-color:#383838;
  
}

.fix{
  overflow: hidden;
  position:fixed;
  top: 0;
  z-index:1;
  width:100%;
  z-index:100;
}
.navbar2{
  height:52px;
  background-color:#F5F5F5;
  font-size:13px;
  text-align:center;
  font-family: font-family: 'Open Sans', sans-serif;
  margin-top:45px;
}

.get_the{
    position:absolute;
    left:32%;top:10%;
  word-spacing:2px;
}

.sec1{
  text-align:center;
}
.red_apple{
  position:relative;
  margin-top:28px;
  margin-bottom:8px;
  right:0.5%;
}
.double{
  position:relative;
  margin-top:10px;
  font-size:54px;
  font-family: 'Roboto', sans-serif;
}
.shop{
  font-size:20px;
  margin-top:-25px;
  color:#0066CC;
}

.longimg{
  margin-bottom:30px;
}

.iphone12{
  position: relative;
  text-align: center;
}
.iphone12t {
  position: absolute;
  top: 8%;
  left: 42%;
  font-size:55px;
  font-family: 'Roboto', sans-serif;
}
.blast{
  font-size:25px;
  margin-top:7px;
}
.learn{
  font-size:20px;
  color:#0066CC;
}


.iphone12w{
  position: relative;
  text-align: center;
  margin-top:10px;
}
.iphone12tw {
  position: absolute;
  top: 8%;
  left: 39%;
  font-size:55px;
  font-family: 'Roboto', sans-serif;
  color:white;
}
.blastw{
  font-size:25px;
  margin-top:7px;
  color:white;
  font-family: 'Roboto', sans-serif;
}

.airpod{
  position:relative;
  margin-top:15px;
  width:100%;
  height:600px;
}

.airpodt {
  position: absolute;
  top: 8%;
  left: 10%;
  font-size:37px;
  font-family: 'Roboto', sans-serif;
  width:500px;
}
.buy{
  position:absolute;
  font-size:18px;
  color:#0066CC;
  margin-top:-30px;
  left:43%;
}

.watcht {
  position: absolute;
  left: 51%;
  font-size:37px;
  font-family: 'Roboto', sans-serif;
  width:400px;
  color:white;
  background-color:black;
  width:700px;
  height:590px;
  z-index:1;
  top:-0.1%;
}

.watchimg{
  position:absolute;
  left:35%;
  top:43%;
  z-index:2;
}

.watcht1{
  font-size:30px;
  position:relative;
  left:40%;
  width:400px;
}
.watcht2{
  position:relative;
  font-size:15px;
  color:#C00000;
  letter-spacing:2px;
  left:46%;
  width:300px;
  margin-top:-28px;
}
.watcht3{
  font-size:22px;
  width:400px;
  position:relative;
  left:26%;
  margin-top:-8px;
}
.appleicon2{
  margin-bottom:-29px;
}

.learn2{
  font-size:20px;
  color:#0066CC;
  position:relative;
  left:260px;
  width:300px;
}

/* -------------------------------- */


.ipad{
  position:relative;
  margin-top:25px;
  width:100%;
  height:600px;
}

.ipadt {
  position: absolute;
  top: 8%;
  left: 10%;
  font-size:37px;
  font-family: 'Roboto', sans-serif;
  width:500px;
}

.powerful{
  font-size:22px;
  width:400px;
  position:relative;
  left:20%;
  margin-top:-35px;
}
.learn3{
  font-size:20px;
  color:#0066CC;
  position:relative;
  left:150px;
  width:300px;
}
.earphone{
  position: absolute;
  left: 51%;
  font-size:37px;
  font-family: 'Roboto', sans-serif;
  width:400px;
  color:white;
  width:700px;
  top:-0.1%;
}
.earphoneimg{
  position:absolute; 
  top:-0.1%;
  z-index:-1;
 
}
.ap{
  color:black;
  position:relative;
  left:35%;
  width:300px;
}


/* -------------------------------- */


.one{
  position:relative;
  margin-top:25px;
  width:100%;
  height:530px;
}
.app{
  position:relative;
  left:11.5%;
  top:35%;
}
.onet{
  position:relative;
  top:-50px;
  left:37%;
}
.onet1{
  font-size:22px;
  width:400px;
  position:relative;
  left:26%;
  margin-top:-37px;
}
.learn4{
  font-size:20px;
  color:#0066CC;
  position:relative;
  left:125px;
  width:300px;
}




.tvicon{
  position:relative;
  left:45%;
  top:310px;
}
.tv{
  position: absolute;
  left: 51%;
  font-size:37px;
  font-family: 'Roboto', sans-serif;
  width:400px;
  color:white;
  width:700px;
  top:-0.1%;
}
.tvimg{
  position:absolute; 
  top:-0.1%;
  z-index:-1;
}
.tvt{
  text-align:center;
  font-size:19px;
  position:relative;
  top:250px;
}
.learn5{
  font-size:15px;
  color:#E8E8E8;
  position:relative;
  left:250px;
  top:380px;
  width:300px;
}
/* ------------------------------------------------- */



footer{
  background-color:#F5F5F5;
  height:640px;
}
.ds{
  color:#808080;
  font-size:12px;
  position:relative;
  left:18%;
  width:950px;
  top:20px;
  height:500px;
}

dl dt { margin-bottom: 10px; }

.list2{
position:relative;
left:20%;
top:-287px;
  height:200px;
}
.list3{
  position:relative;
  left:40%;
  top:-499px;
  height:200px;
  width:200px;
}
.list4{
  position:relative;
  top:-710px;
  height:200px;
  width:200px;
  left:60%;
}
.list5{
  position:relative;
  top:-922px;
  height:200px;
  width:200px;
  left:80%;
}
.ds2{
  position:relative;
  color:#808080;
  font-size:12px;
  left:18%;
  width:1000px;
  top:20px;
  height:20px;
}